body {
    font-family: 'Rubik', sans-serif;
  }
  
  .over {
    z-index: 10;
    pointer-events: none;
    position:absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    
    text-align: center;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;
  }
  
  #btn1 {
    all: unset;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 130px;
    cursor: pointer;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }
  
  #btn2 {
    all: unset;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 130px;
    cursor: pointer;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }
  
  #btn3 {
    all: unset;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 130px;
    cursor: pointer;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }
  
  
  
  #btn1:clicked {
    all: unset;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 130px;
    cursor: default;
    background-color: #FF1058;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }
  #btn2:clicked {
    all: unset;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 130px;
    cursor: default;
    background-color: #FF1058;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }
  #btn3:clicked {
    all: unset;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    padding: 30px 119px;
    cursor: default;
    background-color: #00C34E;
    white-space: nowrap;
    width: 90px; /* Set a fixed width for all buttons */
    text-align: center; /* Center-align the text */
  }